 #navbar_container a {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(146, 141, 141);
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
#navbar_box {
    display: flex;
    margin-top: 1.5%;
    color: rgb(124, 119, 119);
}

#logo {
    height: 32px;
    width: 40px;
    margin-left: 9%;
}

.nav-search-form input{
    padding: 12px;
    border-radius: 20px;
    border: 0.5px solid rgb(175, 167, 167);
    background-color: #eee;
    margin-left: 2.5%;
    margin-top: -3px;
    width: 900px;
    font-size: 15px;
    color: rgb(61, 60, 60);

}
.nav-search-form input:focus{
 background:rgb(248, 246, 246);;
}

#navbar_components {
    display: flex;
    width: 100%;
    margin-left: -2%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 5px 40px;
    
}

#navbar_components :hover {
    border-bottom: 2px solid black;
}
#navbar_components > div {
    margin-left: 2.5%;
    font-size: 15px;
    color: rgb(80, 75, 75);
}

#submit_photo {
    display: block;
    border: 1px solid grey;
    border-radius: 4px;
    transition: filter 0.5s;  
    margin-left: 1%;
    width: 32%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    border: 1px solid #dadcdf;
    text-align: center;
}

#submit_photo :hover{
    filter: brightness(85%);
}

.navbar_right {
    margin-left: 60px;
    margin-right: 25px;
    margin-top: 10px;
}

.nav_img {
    width: 31%;
    height: 39%;
}

.nav_img_margin {
    margin-left: -10%;
   
}

/*section*/


.section {
    height: 600px;
    background: url(https://images.unsplash.com/photo-1637963953070-e0f3d08da3c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat right top;
  background-size: 100% 770px;
  width: 100%;
  position: relative;
}


.section-content{
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
}
.section-content h1 {
    font-size: 45px;
    color: #fff;
    z-index: 2;
}

.section-content p {
    color: #fff;
    z-index: 2;
    margin: 1rem 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 20px;
}
.section-content p a {
    color: #fff;
}
.section-search-form {
    z-index: 2;
    margin: 1rem 0.6rem 0 0;

}
.section-search-form input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 5px;
    border: none;
    color: #000;
    font-size: 0.9rem;
}

.section-overlay {
    height: 10px;
    display: flex;
    color: #fff; 
    margin-top: 75px;
    font-size: 14px;
}

.section-overlay > div:nth-child(1) {
    margin-left: 50px;
    cursor: pointer;
}

.section-overlay > div:nth-child(2) {
    margin-left: 330px;
    cursor: pointer;
}

.section-overlay > div:nth-child(3) {
    margin-top: -25px;
    margin-left: 370px;
    cursor: pointer;
}

